.wrapper{
    background-image: url(../../images/moon-img.png);
    background-repeat: no-repeat;
    background-position: top calc(50% - 64px) right calc(50% - 347px);
    background-size: contain;
    padding-bottom: 100px;
}

@media screen and (max-width: 1024px){
    .wrapper{
        background-position: top -160px right -300px;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        background-image: url(../../images/tablet-background.png);
        background-position: top right;
    }
}
@media screen and (max-width: 525px){
    .wrapper{
        width: 100%;
        background-image: url(../../images/mobile-background.png);
        background-position: top right;
        
    }
}